/* App.css */

:root {
  --main-bg-light: #f8faff;
  --main-bg-dark: #101622;
  --txt-light: #222;
  --txt-dark: #f6f6f6;
  /* Brand color variables always stay the same */
  --brand-blue: #003366;
  --accent-yellow: #ffcc33;
}
 
.light-mode, .light-mode .themed-section {
  background: #f8faff;
  color: #222;
}
.light-mode .themed-section, .light-mode .card {
  background: #fff;
  color: #222;
}
.dark-mode, .dark-mode .themed-section {
  background: #101622;
  color: #f6f6f6;
}
.dark-mode .themed-section, .dark-mode .card {
  background: #191f2b;
  color: #f2f2f2;
}
a,
a:visited {
  color: #003366;
}
